<app-nav-admin></app-nav-admin>
<main>
    <div class="container" >
        <h2>Notes Doctor</h2>
        <form action="#" method="post" class="appointment-form">
            <label for="name">Nom et Prénom:</label>
            <input type="text" id="name" name="name"  [(ngModel)]="findedId.nameP" [ngModelOptions]="{standalone: true}">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email"  [(ngModel)]="findedId.email" [ngModelOptions]="{standalone: true}"  required>

            <label for="phone">Numéro de téléphone:</label>
            <input type="tel" id="phone" name="phone"  [(ngModel)]="findedId.number" [ngModelOptions]="{standalone: true}" required>

            <label for="phone">Date du rendez-vous:</label>
            <input id="date1"  placeholder="MM/DD/YYYY"  [(ngModel)]="findedId.date" [ngModelOptions]="{standalone: true}" required="required" >

            <label for="time">Heure du rendez-vous:</label>
            <input id="time" name="time" [(ngModel)]="findedId.time"   required="required">

            <label for="valide">Notes:</label>
            <textarea name="" id="" rows="10"  [(ngModel)]="findedId.notes" [ngModelOptions]="{standalone: true}"></textarea><br>
          


            <button type="submit" style="margin-top: 5px;" (click)="valideArchive(findedId._id)">Edit</button>
        </form>
    </div>
    
</main>

