<header class="clearfix">
    <div class="container">
        <div class="logo">
            <div class="doctor-name">Dr. Oussama</div>
            <div class="tagline">Better call oussama</div>
        </div>
        <div class="box1 clearfix">
            <div class="box2 clearfix">
                <img src="assets/img/call_girl.png" alt="">
                <p>Need a helping hand? Call our office search<br>helpline for advice - <span>+216 99709990</span></p>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
        <div class="container">
            <ul class="nav sf-menu clearfix">
                <li class="active"><a href="">Home</a></li>
                <li class="dropdown"><a href="appointment">Rendez-vous</a> 
                    <!-- <div class="dropdown-content">
        				<a href="#">Prendre rendez-vous</a>
        				<a href="#">Les rendez vous</a>
        			</div> -->
                </li>
                <li><a href="service">services</a></li>
                <li><a href="contact">Contacts</a></li>
            </ul>
            <ul class="follow_icon">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
                <li><a href="#" class="fa fa-rss"></a></li>
                <li><a href="#" class="fa fa-pinterest"></a></li>
                <li><a href="#" class="fa fa-linkedin"></a></li>
            </ul>
        </div>
    </nav>
</header>
