form {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 1% 20% 15px 20%;
    background-color: #20acb8;
    border: black 3px groove;
  }
  
  #result {
    margin: 0 20% 20% 20%;
  }
  
  label{
    margin: 5px;
    text-shadow: 0 0 15px black, 0 0 7px black, 0 0 3px black, 0 0 30px black, 0 0 100px black;
  }
  
  body{
    background-color: lightblue;
    margin: 0 !important;
  }
  
  input, textarea{
    margin: 0 5px 5px 5px;
  }
  
  label, input, textarea {
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      color: white;
  }
  
  .submit {
    min-height: 48px;
    min-width: 48px;
    cursor: pointer;
    color: rgb(0, 9, 82);
    background-color: rgb(196, 246, 255);
  }
  
  input, textarea, input:-webkit-autofill {
      background-color: white;
      border: 2px solid black;
      color: rgb(195, 70, 12);
      outline: none;
      padding: 5px;
  }
  
  input:focus, textarea:focus {
    background-color: rgb(217, 249, 255);
    color: rgb(0, 9, 82);
  }
  
  textarea{
    height: calc(18px * 4);
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(0, 172, 205) inset;
  }