
<app-nav></app-nav>

<div class="slider">  
    <div class="camera_wrap">
        <div data-src="assets/img/picture1.jpg"><div class="camera-caption fadeIn"><p class="title">Treating the full spectrum<br>of ear and hearing disorders</p></div></div>
        <div data-src="assets/img/picture2.jpg"><div class="camera-caption fadeIn"><p class="title">we will reopen<br>the world of sounds for you!</p></div></div>
        <div data-src="assets/img/picture3.jpg"><div class="camera-caption fadeIn"><p class="title">helping with all types<br>of hearing problems</p></div></div>
    </div>
</div>
<div class="content"> 
    <div class="thumb-box1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 wow fadeInUp">
                    <p class="title">Helping you hear better </p>
                    <p>We have earned a reputation for being able to provide patients with nearly all types of hearing loss instruments and services at a reasonable price. If you don't find the exact hearing loss product that you are looking for, let us know and we will do everything that we can to satisfy your needs.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                    <a href="#" class="btn-default btn1">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box2">
        <div class="container">
            <p class="title wow fadeInLeft">Our professional advice</p>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="assets/img/page1_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">reprehenderit in voluptate</p>
                                <p>Dolor sit amet, consectetur adipisicing elit sed dobe eiusmod tempor incididuntut labore et dolore magna aliquautenim massa ipsum.</p>
                                <a href="#" class="btn-default btn2">read more <i></i></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="assets/img/page1_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">labore et dolore magna</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed dobe eiusmod tempor incidut labore et dolore magna aliquautenad minim veniam, quis nostrud.</p>
                                <a href="#" class="btn-default btn2">read more <i></i></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="assets/img/page1_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">Duis aute irure dolor</p>
                                <p>Epsum dolor sit amet, consectetur adipisicing elit sed ut labore et dolore magna aliquautenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                                <a href="#" class="btn-default btn2">read more <i></i></a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="thumb-box3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="thumb-pad2 maxheight">
                        <div class="thumbnail">
                            <figure><img src="assets/img/page1_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title">lorem ipsum</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <a href="#"><img src="assets/img/more_arrow1.png" alt=""></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="thumb-pad2 maxheight">
                        <div class="thumbnail">
                            <figure><img src="assets/img/page1_pic2.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title">consequatur</p>
                                <p>Massa dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore est. </p>
                                <a href="#"><img src="assets/img/more_arrow1.png" alt=""></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInLeft">
                    <div class="thumb-pad2 maxheight">
                        <div class="thumbnail">
                            <figure><img src="assets/img/page1_pic3.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title">laboriosam</p>
                                <p>Ed dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                                <a href="#"><img src="assets/img/more_arrow1.png" alt=""></a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <div class="thumb-box4">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6 wow fadeInUp">
                    <p class="title"><img src="assets/img/title_icon1.png" alt="">Our Mission</p>
                    <h3>Quis autem vel eum iure reprehenderit</h3>
                    <p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                    <a href="#" class="btn-default btn2">read more <i></i></a>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 col-lg-offset-1 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="title"><img src="assets/img/title_icon2.png" alt="">consultation</p>
                    <h3>Ut enim ad minim veniam</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    <a href="#" class="btn-default btn2">read more <i></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 wow fadeInUp">
                    <p class="title">Hearing loss prevention</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                    <a href="#" class="btn-default btn1">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box6">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="0.2s">
                    <figure><a href="#"><img src="assets/img/page1_logo1.png" alt=""></a></figure>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="0.3s">
                    <figure><a href="#"><img src="assets/img/page1_logo2.png" alt=""></a></figure>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="0.4s">
                    <figure><a href="#"><img src="assets/img/page1_logo3.png" alt=""></a></figure>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="0.5s">
                    <figure><a href="#"><img src="assets/img/page1_logo4.png" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box7">
        <div class="container">
            <p class="title wow fadeInLeft">quick Contact</p>
            <div class="contactForm2">
                <form id="contact-form">
                      <div class="contact-form-loader"></div>
                      <div class="row">
                          <fieldset>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label class="message form-div-4">
                                  <textarea name="message" placeholder="Your Message" data-constraints='@Required @Length(min=20,max=999999)'></textarea>
                                  <span class="empty-message">*This field is required.</span>
                                  <span class="error-message">*The message is too short.</span>
                                </label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="box">
                                    <label class="name form-div-1">
                                      <input type="text" name="name" placeholder="Your Name" value="" data-constraints="@Required @JustLetters"  />
                                      <span class="empty-message">*This field is required.</span>
                                      <span class="error-message">*This is not a valid name.</span>
                                    </label>
                                    <label class="email form-div-2">
                                      <input type="text" name="email" placeholder="Your Email" value="" data-constraints="@Required @Email" />
                                      <span class="empty-message">*This field is required.</span>
                                      <span class="error-message">*This is not a valid email.</span>
                                    </label>
                                    <div class="btns">
                                        <a href="#" data-type="submit" class="btn-default btn3">Submit the form</a>
                                    </div>
                                </div>
                            </div>
                          </fieldset> 
                      </div>
                      <div class="modal fade response-message">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title">Modal title</h4>
                            </div>
                            <div class="modal-body">
                              You message has been sent! We will be in touch soon.
                            </div>      
                          </div>
                        </div>
                      </div>
                </form>
            </div>
        </div>
    </div>
    <div class="thumb-box8">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                    <div class="thumb-pad3-1">
                        <div class="thumbnail">
                            <div class="box clearfix">
                                <div>
                                    <strong>23</strong>
                                    <span>august</span>
                                </div>
                                <hr>
                                <a href="#">Ut enim ad minim veniamquis nostrud ullamco reprehenderit in volup.</a>
                            </div>
                            <div class="caption">
                                <p>Tempore, cum soluta nobis est eligendi opticumque nihil impedit quo minus id quod maxime placeat facerepossimus, omnis voluptas assumenda est omnidolor repellendusemporibus...</p>
                            </div> 
                            <a href="#" class="btn-default btn2">read more <i></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="thumb-pad3-1">
                        <div class="thumbnail">
                            <div class="box clearfix">
                                <div>
                                    <strong>14</strong>
                                    <span>august</span>
                                </div>
                                <hr>
                                <a href="#">Massa ad minim veniamquis nostrud exercitation estullamco.</a>
                            </div>
                            <div class="caption">
                                <p>Nam libero tempore, cum soluta nobis est eligendi opticumque nihil impedit quo minus id quod maxime placeat facerepossimus, omnis voluptas assumenda est omnisdolor repellendus...</p>
                            </div> 
                            <a href="#" class="btn-default btn2">read more <i></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 logo-box wow fadeInUp" data-wow-delay="0.2s">
                    <figure><a href="#"><img src="assets/img/logo2.png" alt=""></a></figure>
                    <p>9870 St Vincent Place,<br>Glasgow, DC 45 Fr 45.<br><a href="#">contactdemolink.org</a></p>
                </div>
            </div>
        </div>
    </div>
</div>